body,
html {
  font-size: 0.9rem;
  background: #f2f3f7;
}
body,
.form-control {
  font-size: 0.9rem;
}
body,
html,
#root,
.App {
  min-height: 100vh;
}
.btn {
  font-size: 0.9rem;
  font-weight: 500;
  padding: 0.66rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.1rem 0.1rem rgba(0, 0, 0, 0.05) !important;
}
.App-link {
  color: #61dafb;
}

.btn-light {
  border-color: #dedede;
}

.btn-light:hover {
  border-color: #dedede;
  background-color: #f3f3f3;
}

.cursor-pointer {
  cursor: pointer;
}

.shadow {
  box-shadow: 0 0.1rem 0.1rem rgba(0, 0, 0, 0.05) !important;
}

.modal-content,
.card {
  overflow: hidden;
  border-radius: 0.756rem;
}

hr {
  opacity: 0.1;
}

.data-table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

.data-table th,
.data-table td {
  padding: 8px; /* Adjust the padding as needed */
  border: 1px solid #ddd; /* Add borders as needed */
}

.data-table th {
  background-color: #f2f2f2; /* Add background color for header if needed */
  text-align: left;
}


.data-table td {
  text-align: left;
}

/* Set specific widths for each column */
.data-table th:nth-child(1),
.data-table td:nth-child(1) {
  width: 20px; /* Adjust the width as needed */
}

.data-table th:nth-child(2),
.data-table td:nth-child(2) {
  width: 60px; /* Adjust the width as needed */
}

.data-table th:nth-child(3),
.data-table td:nth-child(3) {
  width: 60px; /* Adjust the width as needed */
}

.data-table th:nth-child(4),
.data-table td:nth-child(4) {
  width: 60px; /* Adjust the width as needed */
}

.data-table th:nth-child(5),
.data-table td:nth-child(5) {
  width: 100px; /* Adjust the width as needed */
}


.edit-row-entry {
  width: 100%;
}

.edit-row-entry input{
  width: 90%;
}


.form-control {
  background: #f5f7f9;
  font-weight: 400;
  padding: 0.5rem 0.75rem;
  border: none;
}
.form-control:hover {
  background: #f5f7f9;
}
.form-control::placeholder,
.form-control::-ms-input-placeholder,
.form-control:-ms-input-placeholder {
  color: #9fa8b0;
}
.form-control:focus {
  background: #f5f7f9;
}

#invoiceCapture {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

